<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <connectionStrings>

  <add name="codbar" connectionString="server=192.168.1.48,1433;user id=sa;password=tecflex;database=BdNava02"/>
  <add name="tecflex" connectionString="server=192.168.1.48,1433;user id=sa;password=tecflex;database=BdNava01" />
 
  
  </connectionStrings>
  
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
    <add key="rutaLog" value="C:\Temp"/>
    <add key="printerName" value="Argox P4-250 PPLB"/>     <!-- Argox P4-250 PPLB -->
    <add key="pathFormatPrint" value="D:\print-etiqueta\EtiqBultoNava.txt"/>
    <add key ="PuertoPrinterTicket" value="7053"/>
    <add key ="IPPrinterTicket" value="192.168.1.235"/>
    <add key ="version" value="1.0.1.211105.WS"/>
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5"/>
  </system.web>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- Para evitar revelar información de los metadatos, establezca los valores siguientes en false antes de la implementación -->
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          <!-- Para recibir detalles de las excepciones en los fallos, con el fin de poder realizar la depuración, establezca el valor siguiente en true. Para no revelar información sobre las excepciones, establézcalo en false antes de la implementación -->
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <protocolMapping>
        <add binding="basicHttpsBinding" scheme="https" />
    </protocolMapping>    
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <!--
        Para examinar el directorio raíz de la aplicación web durante la depuración, establezca el valor siguiente en true.
        Establézcalo en false antes de la implementación para evitar revelar información sobre la carpeta de aplicación web.
      -->
    <directoryBrowse enabled="true"/>
  </system.webServer>

</configuration>
